body {
    background-color: orange;
}

nav .col-md-3 {
    font-size: 32px;
    text-align: center;
}

.profile-image {
    display: block;
    margin: 0 auto;
    height: 300px;
    border-radius: 100%;
}