body {
  background: url('images/Mol.jpg');  
    background-size: cover; 
    backgroung-color: orange;
    background-blend-mode: color-dodge;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: orange;
}

}

.wrapper {
    margin-top: 50px;
    margin: 0 auto;
    height: 700px;
    width: 700px;
}

.profile-image {
    display: block;
    position: relative;
    z-index: 999;
    top: 45px;
    left: 40%;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.box{
    height: 300px;
    width: 800px;
    /* margin: 0 auto; */
    background-color: black;
    display: block;
    position: relative;
    top: -124px;
    left: 21%;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    bottom: 15px;
    left: 31%;
}

nav {
    display: inline-block;
}

nav .col-md-3 {
    font-size: 32px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

nav a {
    text-decoration: none;
    color: #fff;
}